.hero-unit
  .row
    .span10
      %h1 Sinatra Template
      %br
      %p This is a Sinatra Template.
      %a{:class => "btn primary large",:href => '#'} View »
.row
  .span8
    %h2 Hello

%footer
  Footer

