!!! 5
%html
  %head
    %title Sinatra Template
    %link{:href => 'css/bootstrap.min.css', :rel => 'stylesheet', :media => 'screen'}
  %body
    .container
      #content= yield
    %script{:src => "http://code.jquery.com/jquery-latest.js"}
    %script{:src => "js/bootstrap.min.js"}
